/*BEGIN PS4 White Controller Styling*/
.controller.custom {
    background-image: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/base.svg);
}

.custom.disconnected {
    background: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/disconnected.svg);
}

.custom .trigger {
    background-image: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/triggers.svg);
}

.custom .bumper {
    background-image: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/bumper.svg);
}

.custom .touchpad.pressed {
    background-image: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/touchpad.svg);
}

.custom .back, .ds4 .start {
    background-image: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/start.svg);
}

.custom .button {
    background-image: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/face.svg);
}

.custom .stick {
    background-image: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/sticks.svg);
}

.custom .face {
    background-image: url(https://github.com/LegJo/CDC-Custom-Gamepad/blob/main/test_svg/dpad.svg);
}

/*END PS4 White Controller Styling*/
